{% extends 'baseNoAuth.html.twig' %}
{% block body %}
    <div class="auth-container">
        <h1>
            Confirmez votre connexion
        </h1>
        <form action="{{ path('2fa_check') }}" method="post" style="width: 55%">
            <p>
                {% if isTwoFaEnabled %}
                    Veuillez rentré le code de votre authentificateur
                {% else %}
                    Scannez le QR Code avec Google authentificateur
                {% endif %}
            </p>
            {% if qrCode %}
                <img src="{{ path('2fa_qrcode') }}" alt="" class="qrcode" />
            {% endif %}
            <div>
                <label for="_auth_code">
                    Code  :
                </label>
                <input type="text" name="_auth_code" id="_auth_code" />
            </div>
            <button class="button button-submit">
                Se connecter
            </button>
        </form>
    </div>
{% endblock %}
