{% extends 'base.html.twig' %}
{% block title %}
    Créer une tâche
{% endblock %}
{% block header_title %}
    Créer une tâche
{% endblock %}
{% block body %}
    <div id="content">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}

        {% if taskId is not null and (is_granted('ROLE_ADMIN') or is_granted('acces_projet', project)) %}
            <button type="submit" class="button button-submit">
                Modifier
            </button>
        {% endif %}

        {% if  taskId is not null and is_granted('ROLE_ADMIN') %}
            <a href="{{ path('project_task_remove', {'id': id, 'taskId': taskId}) }}" class="delete-task">
                Supprimer la tâche
            </a>
        {% endif %}

        {% if app.request.attributes.get('_route') == 'project_task_add' and (is_granted('ROLE_ADMIN') or is_granted('acces_projet', project))%}
            <button type="submit" class="button button-submit">
                Ajouter
            </button>
        {% endif %}
        
        {{ form_end(form) }}
    </div>
{% endblock %}

