{% extends 'baseNoAuth.html.twig' %}
{% block title %}
    Hello AuthController!
{% endblock %}
{% block body %}
    <div class="auth-container">
        <h1 class="auth-title white">
            S'inscrire
        </h1>
    </div>
{% endblock %}
